
.navbar{
    width: 100%;
    background: white;
    color: white;
}
.search{
    text-align: center;
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
.search-box{
    /* display: flex; */
    border: 1px solid white;
    /* width: 300px; */
    border-radius: 5px;
    background: white;
}
button{
    background: black;
    color: white;
    border: none;
    padding: .5em 1.6em;
}
input{
    border: none;
    outline: none;
}
.spinner{
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
}
.card-box{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.card{
    width: 200px;
    height: 200px;
    margin: 20px;
    border: none;
    color: white;
    object-fit: contain;
}
.card:hover{
    padding: 20px;
}
p{
text-align: center;
}
.detail{
    display: flex;
    justify-content: center;
    color: white !important;
}
.card img{
    width: 100%;
    height: 100%;
}
.detail .card{
    width: 400px;
    height: 400px;
    color: white !important;

}
.navbar a{
    color: black !important;
}
.card-box a, .pagination a{
    color: white !important;
}
.navbar a:hover, .card-box a:hover{
text-decoration: none;}
.pagination{
    text-align: center;
    justify-content: center;
    background: black !important;
}
.page-link{
    background:black !important;
}
 
  .animate__animated.animate__heartBeat {
    --animate-duration: 2s;
    text-align: center;
    color: white;
  }

 
  
@media screen and (max-width:500px){
    .search-box{
        /* display: flex; */
        /* border: 1px solid black;
        border-radius: 5px; */
    }
}